body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0px;
}

a:link {
  color: lightgreen;
}

a:visited {
  color: hotpink;
}

.footer {
  background-color: lightgrey;
  color: black;
  margin: 0px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: end;
  text-align: center;
}

.main {
  margin: 25px;
}
